<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>738939171198-07veif2e9up53m47oo9atlh1ihh38p94.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.738939171198-07veif2e9up53m47oo9atlh1ihh38p94</string>
	<key>API_KEY</key>
	<string>AIzaSyA9UHUh38KK9ozKM8OrnhEKlLTDKAhIq-4</string>
	<key>GCM_SENDER_ID</key>
	<string>738939171198</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shashkov.Client</string>
	<key>PROJECT_ID</key>
	<string>clientvk-6f6e0</string>
	<key>STORAGE_BUCKET</key>
	<string>clientvk-6f6e0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:738939171198:ios:c1c1a27fe39eefc20a032f</string>
</dict>
</plist>