<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>197725061764-dv9qf2cadrt5e9pgr4jsp2lff2mcgtua.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.197725061764-dv9qf2cadrt5e9pgr4jsp2lff2mcgtua</string>
	<key>API_KEY</key>
	<string>AIzaSyC9xp05fEmXlVIwDiRLXhU83-SFOKf-RSY</string>
	<key>GCM_SENDER_ID</key>
	<string>197725061764</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ru.geekbrains.HomeWorkApp</string>
	<key>PROJECT_ID</key>
	<string>homework-project-bf11e</string>
	<key>STORAGE_BUCKET</key>
	<string>homework-project-bf11e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:197725061764:ios:681eff84a80ad3a6aeb8d1</string>
</dict>
</plist>